.container{
    width: 95%;
    margin: 0 auto;
}
.header{
    text-align: center;
    background-color: rgb(48, 154, 196);
    padding: 20px 0;
    margin-bottom: 30px;
}
.header{
    color: white;
    margin-top: 0;
}